---
layout: layouts/base.njk
title: Four Bees Recipes
---

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Four Bees Recipes</title>
</head>
<body> -->

<h1>Four Bees Recipes</h1>
<ul>
  {%- for post in collections.recipe -%}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {%- endfor -%}
</ul>

<!-- </body>
</html> -->
