---
layout: layouts/base.njk
title: Recipe
---

{%- css %}{% include "public/css/recipe.css" %}{% endcss %}

<h1>{{ title }}</h1>

<div class="recipe">
{{ content | safe }}
</div>

<p>
<i>Original recipe from <a href="{{ source }}">here</a>, since modified.</i>
</p>
